<mat-card class="container">
    <mat-card-title><mat-icon>calendar_today</mat-icon> Créer un sondage</mat-card-title>
    <form [formGroup]="sondageForm" (ngSubmit)="onSubmit(sondageForm.value)">
        <div>
            <h2>Description</h2>
            <mat-form-field class="form-field">
                <mat-label>Intitulé</mat-label>
                <input matInput placeholder="Intitulé de la réunion" formControlName="intitule">
            </mat-form-field>

            <mat-form-field class="form-field">
                <mat-label>Résumé</mat-label>
                <textarea matInput placeholder="Resume" formControlName="resume"></textarea>
            </mat-form-field>
        </div>

        <div>
            <h2>Dates <button mat-button color="primary" type="button" (click)="addItem()">Ajouter une date</button></h2>
            <div formArrayName="datesArray" *ngFor="let date of datesArray.controls; let i=index">
                <mat-form-field [formGroupName]="i">
                    <mat-label>Date {{ i }}</mat-label>
                    <input matInput [matDatepicker]="ii" formControlName="date">
                    <mat-datepicker-toggle matSuffix [for]="ii"></mat-datepicker-toggle>
                    <mat-datepicker #ii></mat-datepicker>
                </mat-form-field>
                <button mat-icon-button matSuffix (click)="removeItem(i)">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
            <p *ngIf="datesArray.controls.length == 0">Vous n'avez ajouté aucune date. Utilisez le bouton "Ajouter une date"</p>
        </div>


        <div>
            <button mat-flat-button color="primary" type="submit">Créer</button>
        </div>

    </form>
</mat-card>
