<mat-card class="container">
    <mat-card-title>Créer un sondage</mat-card-title>
    <form [formGroup]="sondageForm" (ngSubmit)="onSubmit(sondageForm.value)">
        <mat-form-field class="form-field">
            <mat-label>Intitulé</mat-label>
            <input matInput placeholder="Intitulé de la réunion" formControlName="intitule">
        </mat-form-field>

        <mat-form-field class="form-field">
            <mat-label>Résumé</mat-label>
            <textarea matInput placeholder="Resume" formControlName="resume"></textarea>
        </mat-form-field>

        <mat-form-field class="form-field">
            <mat-label>List de dates (format: date1;date2...)</mat-label>
            <input matInput placeholder="Votre email" formControlName="datesString">
        </mat-form-field>

        <button mat-flat-button color="primary" type="submit">Créer</button>
    </form>
</mat-card>
