.container {
    margin: 30px;
}

.spacer {
    flex: 1 1 auto;
}

.current-user {
    display: flex;
    align-items: center;
}
.current-user-name {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    text-align: right;
}