<mat-toolbar color="primary">
  <span>{{ title }}</span>
  <span class="spacer"></span>
  <div *ngIf="currentUser" class="current-user">
    <div class="current-user-name">
      <span class="mat-small" style="font-weight: bold">{{ currentUser.prenom }} {{ currentUser.nom }}</span><br>
      <span class="mat-small">{{ currentUser.email }}</span>
    </div>
    <img mat-card-avatar src="https://www.gravatar.com/avatar/{{ hash }}" alt="">
  </div>
</mat-toolbar>

<div class="container">
  <app-create-participant *ngIf="!currentUser"></app-create-participant>
  <app-create-sondage *ngIf="currentUser"></app-create-sondage>
</div>
