<mat-card class="container">
    <mat-card-title>Créer un utilisateur</mat-card-title>
    <form [formGroup]="participantForm" (ngSubmit)="onSubmit(participantForm.value)">
        <mat-form-field class="form-field">
            <mat-label>Prénom</mat-label>
            <input matInput placeholder="Votre prénom" formControlName="name">
        </mat-form-field>

        <mat-form-field class="form-field">
            <mat-label>Nom</mat-label>
            <input matInput placeholder="Votre nom" formControlName="firstname">
        </mat-form-field>

        <mat-form-field class="form-field">
            <mat-label>E-mail</mat-label>
            <input matInput placeholder="Votre email" formControlName="email">
        </mat-form-field>

        <button mat-flat-button color="primary" type="submit">Créer</button>
    </form>
</mat-card>
